@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Primary-color: #2563eb;
    --Primary-dark-color: #1d4ed8;
    --Secondary-color: #64748b;
    --Success-color: #10b981;
    --Warning-color: #f59e0b;
    --Danger-color: #ef4444;
    --Background-color:#f8fafc;
    --Sidebar--color: #1e293b;
    --Sidebar-Hover-color: #334155;
    --White-color: #ffffff;
    --Text-Primary-color: #1e293b;
    --Text-Secondary-color : #64748b;
    --Text-White-color: #ffffff; 
    --Border-color : #e2e8f0;
    --box-shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    --box-shadow-2: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --Shadow-Medium-1:0 4px 6px -1px rgba(0, 0, 0, 0.1);
    --Shadow-Medium-2:0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --Shadow-Large-1:0 10px 15px -3px rgba(0, 0, 0, 0.1);
    --Shadow-Large-2:0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
 
body{
    height: 100vh;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif,"Poppins","Inter";
    background: var(--Background-color);
    /* line-height: 1.6; */
    color: var(--Text-Primary-color);
}
select{
    outline-color: rgb(28, 28, 28);
}

header{
    width: 100vw;
    padding: 20px;
    background-color: var(--White-color);
    position: fixed;
    z-index: 1;
    /* border-bottom:1px solid ; */
    box-shadow: var(--Shadow-Medium-1);
}
.navigateur{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-left: 360px;
}
.navigateur .logo{
    font-weight: bold;
    font-size: 1.8rem;
}
.navigateur .logo i{
    /* margin-right: 15px; */
    display: none;
}
.navigateur .admis{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-size: 22px;
}
.navigateur .admis{
    color: #4a58c1c6;
}
.admis i{
    font-size: 1.8rem;
    color: var(--Secondary-color);
    text-decoration: none;
    cursor: pointer;
}
.admis .ic{
    position: relative;
}
.admis .ic .num{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
    left: 3px;
    background-color: var(--Danger-color);
    color: var(--Text-White-color);
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}
.admis .ic .num:hover{
    transform: scale(1.1);
}
.navigateur .profit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sidebar{
    height: 100vh;
    width: 350px;
    position: fixed;
    z-index: 2;
    background-color:  var(--Sidebar--color);
    color: var(--Text-White-color);
    transition: left 0.4s ease;
}
.sidebar .logo_2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid;
    padding: 23px;
    font-size: 2rem;
    font-weight: bold;
}
.logo_2_icon{
    color: var(--Primary-dark-color);
}
.sidebar .link{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;  
}
.sidebar .link a{
    text-decoration: none;
    color: var(--Text-White-color);
    /* white-space: nowrap; */
    width: 100%;
}
.sidebar .link_1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
.sidebar .link a:hover{
    background-color: var(--Sidebar-Hover-color);
}
.sidebar .link #az:is(:active, #az){
    background-color: var(--Primary-dark-color);
}
.sidebar .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 300px;
    width: 100%;
    border-top: solid;
    bottom: 0;
    gap: 20px;
}
.footer .footer_admis_A{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
    width: 80%;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    background-color: #3549679a;
    border: none;
    color: var(--text-white);  
    cursor: pointer;
}
.footer .footer_admis_B,
.footer .footer_admis_C{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
    width: 80%;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--Secondary-color);
    border: none;
    cursor: pointer; 
    color: var(--text-white);   
}
.footer_admis_B .verifi a{
    color: var(--Text-White-color);
    text-decoration: none;
}
.footer .footer_admis_C{
    border: 1px solid var(--Border-color);
    background: var(--Danger-color);
    border: none;
    color: var(--Text-White-color);
    cursor: pointer;
}
.footer .footer_admis_C a{
    text-decoration: none;
    color: var(--Text-White-color);
}
.footer_admis_A .icon_a{
    font-size: 2.8rem;
    color: var(--Primary-dark-color);
}
.footer_admis_A span{
    font-size: 15px;
    font-weight: 300;
}
 /*----------------------------------Notifications & Alertes----------------------------------------------  */
section{
    height: auto;
    background-color: var(--Background-color);
    width: auto;
    margin-left: 350px;
    padding-top: 150px;
    padding-bottom: 50px;
    position: relative;

}
.ligne_1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    margin-bottom: 60px;
    margin-left: 40px;
    font-size: 1.4rem;
}
.ligne_1_1{
    display: flex;
    align-items: center;
    gap: 10px;  
}
.ligne_1_1 i{
    font-size: 2rem;
}
.ligne_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 40px;
    gap: 50px;
}

.ligne_2 .grid{
    width: auto;
    height: 120px;
    display: flex; 
    align-items: center;
    justify-content: start; 
    gap: 20px; 
    background: var(--White-color);  
    box-shadow: 0 1px 1px 1px  #ebe9e9;
    padding: 1.5rem;
    border-radius: 0.75rem;
    transition: transform 0.2s ease;
}
.ligne_2 .grid:hover {
    transform: translateY(-2px);
    box-shadow: var(--Shadow-Large-1);
}
.ligne_2_1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--Primary-color);
}
.b{
    background-color: var(--Danger-color);
}
.c{
    background-color: var(--Success-color);
}
.d{
    background-color: var(--Secondary-color);
}
.ligne_2_2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 13px;
    font-size: 20px;
    font-weight: 300;
}
.ligne_2_2 .num{
    font-weight: bold;
}
.ligne_2_1 i{
    color: var(--Text-White-color);
    font-size: 2rem;
}


.ligne_3{
    display: grid;
    grid-template-columns: 1fr;
}
.ligne_3_1{
    height: 160px;
    margin: 20px 40px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 1px 1px 1px #ebe9e9;
    background-color: var(--White-color);
    display: flex;
    align-items: center;
    gap: 30px;
      
}
.ligne_3_1 .input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.ligne_3_1 select{
    width: 170px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
    border: 1px solid var(--Border-color);
}
.input .fil{
    padding: 9px 18px;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--Text-White-color);
    background-color: var(--Primary-color);
}
.input .none{
    opacity: 0;
}
.input .fil:hover{
    cursor: pointer;
    background-color: var(--Primary-dark-color);
}

.ligne_4{
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px;
    width: auto;
    height: 190px;
    border-radius: 15px; 
    padding: 30px;
    background-color: var(--White-color); 
    box-shadow: 0 1px 1px 1px #ebe9e9;
    
}
.ligne_4 span{
    font-weight: 300;
    opacity: 0.4;
}
#b_1{
    border-left: 6px solid var(--Danger-color) ; 
}

.ligne_4 .grid{
   display: grid;
   grid-template-columns: 50px auto;
   align-items: center;
   gap: 20px;
   
}
.grid .ligne_4_1{
    display: flex;
    flex-direction: column;
    gap: 25px;   

}
.grid .ligne_4_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.space{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.space .p{
    background-color: #D4E4FD;
}
.grid .ligne_4_3{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
}
.grid .ligne_4_3 p{
    border: solid var(--Border-color);
    padding: 8px;
    border-radius: 11px;
    cursor: pointer;
}
.grid .ligne_4_3 .hover:hover, .ligne_5 .hover:hover{
    background-color: #F2F1F1;

}
.grid .ligne_4_3 .p{background-color: #f2f1f1;}
.grid .cercle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--Danger-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid .cercle i{
    color: var(--Primary-color);
    font-size: 1.6rem;
}
#b_2{
    border-left: 6px solid var(--Primary-color) ; 
}
.grid .ligne_4_3 .p_2{
    background-color: var(--Primary-color);
    color: #fff;   
}
#b_2 .cercle{
    background-color: #448EF8;
}
.grid .ligne_4_3 .p_3{
    color: #fff;
    background-color: #5FC6F2;
}
#b_3 .cercle{
    background-color: var(--Success-color);
}
#b_4 .cercle{
    background-color: var(--Text-Secondary-color);
}
#b_5 .cercle{
    background-color: var(--Warning-color);
}
.grid .ligne_4_3 .p_5{
    background-color: #f2f1f1;
}

.ligne_5{
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px;
    width: auto;
    height: 140px;
    border-radius: 15px; 
    padding: 30px;
    background-color: white; 
    box-shadow: 0 1px 1px 1px #ebe9e9;
}
.ligne_5 .grid{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    font-weight: 300;
}
.azerty{
    display: flex;
    justify-content: space-between;
}

.ligne_5_1 , .ligne_5_2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    cursor: pointer;
}
.ligne_5_2{
    padding: 10px 20px;
    border: solid var(--Border-color);
    border-radius: 11px;
}
#c_1{
    background-color: #f2f1f1;
}

/* ---------------------------------------Tableau de Bord Principal------------------------------------------------------ */
#grid_1, #grid_2, #grid_3, #grid_4{
    height: 130px;
}
#grid_1 p, #grid_2 p, #grid_3 p, #grid_4 p{
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.6;
}
#grid_2 .ligne_2_1{
    background-color: var(--Warning-color);
}

.table{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
}
.table input{
    padding: 10px;
    width: 450px;
    border-radius: 8px;
    border: 1px solid var(--Border-color);
    font-size: 1.2rem;
    opacity: 0.8;
}
.table .button{
   display: flex;
   align-items: center;
   gap: 20px;
}
.button button{
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid var(--Border-color);
}
.bnt_1{
    color: var(--Text-White-color);
    background-color: var(--Primary-color);
}
.bnt_2{
    background-color: var(--Text-White-color);
}
.bnt_2 a{
    color: black;
    display: flex;
    gap: 10px;
    text-decoration: none;
    font-size: 1rem;
}

.bnt_1 a{
    display: flex;
    gap: 10px;
    color: var(--Text-White-color);
    text-decoration: none;
    font-size: 1rem;
}
.bnt_1:hover{
    cursor: pointer;
    background-color: var(--Primary-dark-color);
}
.bnt_2:hover{
    cursor: pointer;
    background-color: #F9FAFC;
}
.central{
    height: auto;
    overflow: hidden;
    margin: 40px;
    border-radius: 15px;
    box-shadow: 0 1px 1px 1px #ebe9e9;
    background-color: var(--White-color);
}

.Tableau{
    width: 100%;
    background-color: #F9FAFC; 
    border-collapse: collapse ;
}
.lign{
    height: 60px;
    
}
.lign2{
    height: 90px;
    background-color: var(--Text-White-color);
    border: none;
    text-align: center;
    border-bottom: 1px solid var(--Border-color);
}
.n_2 .mac{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--Background-color);
}
.nom{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
td{
   text-align: center;
}
.n_3 p{
    /* color: var(--Primary-color); */
    background-color: #DDEBFD;
    border-radius: 8px;
    padding: 5px 12px;
}
.cent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    text-align: start;
}

.n_4 p{
    /* color: var(--Primary-color);  */
    background-color: #E0FCE9;
    border-radius: 8px;
    padding: 5px 9px;
}
.n_6 p{
    /* color: var(--Primary-color); */
    background-color: #E0FCE9;
    border-radius: 8px;
    padding: 5px 10px;
}
.cent .bleu{
    background-color: #E0ECFD;
    color: var(--Primary-dark-color);
}
.cent .orange{
    background-color: #E9E0BA;
    color: var(--Warning-color);
}
.cent .vert{
    background-color: #E0FCE9; 
    color: var(--Success-color); 
}
.cent .rouge{
    background-color: #FCE7F2;
    color: var(--Danger-color);
}
.lign2:hover{
    background-color: #F9FAFC; 
    cursor: pointer;
}
.cent .fa-solid{
    color: rgb(153, 153, 153);
}
.cent .fa-solid:hover{
    cursor: pointer;
    color: var(--Secondary-color);
}

/* --------------------------------------------Rapports & Analytics----------------------------------------------- */


#ligne_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
#ligne_2 .grid{
    height: auto;
    align-items: start;
}
#ligne_2 .ligne_2_1{
    background-color: var(--Primary-color);
}
#ligne_2 .ligne_2_2{
    justify-content: center;
    gap: 30px;
}
#ligne_2 .euro{
    display: flex;
    align-items: center;
    gap: 20px;
}
#ligne_2 .euro .e{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#ligne_2 .euro .e span{
    font-weight: bold;
    color: var(--Primary-color);
}
#ligne_2 .euro .e p{
    font-weight: 400;
    font-size: 14px;
    opacity: 0.6;
}
#ligne_2 button{
    padding: 8px 20px;
    font-size: 18px;
    opacity: 0.7;
    cursor: pointer;
    border: 1px solid var(--Border-color);
    background-color: var(--Text-White-color);
    border-radius: 8px;
}
.ligne_2_2 button:hover{
    background-color: #f7f8fc !important;
}

#central{
    padding-bottom: 25px;
}
#central #l_3{
    justify-content: flex-start;
    gap: 10px;
    background-color: var(--Background-color);   
}
#central .lign_1{
    margin: 0 30px;
    padding: 30px 15px;
    display: grid;
    border-bottom: 1px solid var(--Border-color);
    grid-template-columns:  2fr 1fr 2fr  1fr 1fr ;
    font-weight: 500;
    opacity: 0.6;
}
#central #lign_1{
    background-color: var(--Background-color);   
    margin: 30px 30px 0 30px;
    font-size: 18px;
    opacity: 1;
    font-weight: 600;
}
#central .lign_1 .li_1{
    display: flex;
    align-items: center;
    gap: 15px;
}
#central .lign_1 span{
    font-size: 13px;
}


/* -------------------------------------------Analytics & Rapports----------------------------------------------------------- */

.aligne_2 #grid_1, .aligne_2 #grid_2, .aligne_2 #grid_3, .aligne_2 #grid_4{
    height: 165px;
}
.grid_an_2 .ligne_2_1{
    background-color: var(--Success-color) !important;
}
.grid_an_3 .ligne_2_1{
    background-color: var(--Warning-color);
}
.grid_an_4 .ligne_2_1{
    background-color: var(--Danger-color);
}
#grid_1 .vert, #grid_2 .vert, #grid_4 .vert{
    background-color: #DDF8E4;
    display: flex;
    justify-content: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 8px;
    color: var(--Success-color);
}

#grid_3 .rouge{
    background-color: #F9E2E1;
    display: flex;
    justify-content: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 8px;
    color: var(--Danger-color);
}

.cards{
    margin: 40px;
    display: grid;
    gap: 30px;
    grid-template-columns: auto 500px;
}


.cards .card-left{
    border: 1px solid var(--Border-color);
    background: var(--text-white);
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: var(--box-shadow-1);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    /* gap: 1rem; */
    padding: 0;
}

.card-left .head{
    border-bottom: 1px solid var(--Border-color);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.head .head_1{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
}
.head select{
    width: 140px;
    padding: 7px;
    border: 1px solid var(--Border-color);
    border-radius: 8px;
}
.mai{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: 350px;
    background-color: var(--White-color);
}
.mai .class_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    cursor: pointer;
    transition: 0.3s ease;
}

.class_1 #diag{
    width: 100%;
    border-bottom: solid 1px var(--Border-color);
    border-radius: 5px 5px 0 0;
}
.class_1 .diag_1{
    height: 25px;
    background: linear-gradient(180deg,rgba(96, 162, 249, 1) 26%, rgba(44, 111, 235, 1) 64%);
}
.class_1 .diag_2{
    height: 70px;
    background: linear-gradient(180deg,rgba(96, 162, 249, 1) 26%, rgba(44, 111, 235, 1) 64%);
}
.class_1 .diag_3{
    height: 55px;
    background: linear-gradient(180deg,rgba(96, 162, 249, 1) 26%, rgba(44, 111, 235, 1) 64%);
}
.class_1 .diag_4{
    height: 120px;
    background: linear-gradient(180deg,rgba(96, 162, 249, 1) 26%, rgba(44, 111, 235, 1) 64%);
}
.class_1 .diag_5{
    height: 100px;
    background: linear-gradient(180deg,rgba(96, 162, 249, 1) 26%, rgba(44, 111, 235, 1) 64%);
}
.class_1 .diag_6{
    height: 130px;
    background: linear-gradient(180deg,rgba(96, 162, 249, 1) 26%, rgba(44, 111, 235, 1) 64%);
}
.class_1 .diag_7{
    height: 90px;
    background: linear-gradient(180deg,rgba(96, 162, 249, 1) 26%, rgba(44, 111, 235, 1) 64%);
}
.class_1 .diag_8{
    height: 200px;
    background: linear-gradient(180deg,rgba(96, 162, 249, 1) 26%, rgba(44, 111, 235, 1) 64%);
}
.class_1 .diag_9{
    height: 160px;
    background: linear-gradient(180deg,rgba(96, 162, 249, 1) 26%, rgba(44, 111, 235, 1) 64%);
}
.class_1 .diag_10{
    height: 125px;
    background: linear-gradient(180deg,rgba(96, 162, 249, 1) 26%, rgba(44, 111, 235, 1) 64%);
}
.class_1 .diag_11{
    height: 190px;
    background: linear-gradient(180deg,rgba(96, 162, 249, 1) 26%, rgba(44, 111, 235, 1) 64%);
}
.class_1 .diag_12{
    height: 170px;
    background: linear-gradient(180deg,rgba(96, 162, 249, 1) 26%, rgba(44, 111, 235, 1) 64%);
}
.Jan{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.Jan p{
    font-size: 15px;
    font-weight: 600;
    opacity: 0.6;
}
.Jan span{
    font-size: 14px;
    color: var(--Primary-color);
}

.foot{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 20px;
    border-top: 1px solid var(--Border-color);
}
.foot_o{
    display: flex;
    align-items: center;
    gap: 10px;
}
.foot .o{
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
}
#o{
    background-color: var(--Primary-color);
}
.o{
    background-color: var(--Success-color);
}

.cards .card-right{
    width: 100%;
    border: 1px solid var(--Border-color);
    background-color: var(--White-color);
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: var(--box-shadow-1);
    padding: 0;
    overflow: hidden;
}
.card-right .head_1{
    padding:30px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 6px;
    font-size: 20px;
    background: var(--Background-color);
    border-bottom: 1px solid var(--Border-color);
}
.card-right .cat{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    font-weight: 500;
}
.cat_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.cat_1 h5{
    font-size: 18px;
}
.cat_1 span{
    color: var(--Primary-color);
}
.trait{
    width: 100%;
    padding: 4px;
    border-radius: 10px;
    background: var(--Background-color);
}
.top{
    display: flex;
    align-items: center;
    gap: 5px;
}
#l_3 select{
    padding: 8px;
    width: 150px;
    border-radius: 5px;
    font-size: 18px;
    border-color: var(--Border-color);
}
.Tableau_analytic{
    width: 100%;
    border-collapse: collapse;
}
.Tableau_analytic th, .Tableau_analytic td {
    padding: 20px;
}
.Tableau_analytic th:nth-child(1),
.Tableau_analytic td:nth-child(1) {
    text-align: center;
    width: 100px;
}
.Tableau_analytic th:nth-child(2),
.Tableau_analytic td:nth-child(2) {
    text-align: start;
    width: 650px;
}
.Tableau_analytic .lign{
    height: 60px;
    background-color: var(--Background-color);
    border-top: 1px solid var(--Border-color);
}
.Tableau_analytic .lign_1_1{
    font-size: 18px;
    font-weight: 400;
    opacity: 0.7;
    border-top: 1px solid var(--Border-color);
    border-bottom: 1px solid var(--Border-color);
}
.lign_1_1 .zero{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Text-White-color);
    background-color: #F8A80D;
}
#b{
    background-color: var(--Text-Secondary-color);
}
#c{
    background-color: var(--Warning-color);
}
.lign_1_1 .un{
    display: flex;
    align-items: center;
    gap: 10px;
}
.class_1 strong{
    width: 20px;
    padding: 2px;
    height: 8px;
    border-radius: 10px;
    background-color: #BFBFC3;
    margin-bottom: 18px;
    opacity: 0;
}

.class_1:hover{
    transform: translateY(-5px);
}

/* -------------------------------------------------Paramètres & Configuration------------------------------------------------------ */

.para_card{
    margin: 50px 40px;
    border: 1px solid var(--Border-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--box-shadow-2);
}

.para_card_1{
    padding: 40px;
    border-bottom: 1px solid var(--Border-color);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.para_card_2{
    background-color: var(--White-color);
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.para_card_2 .contenu{
    border: 1px solid var(--Border-color);
    height: 140px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenu:hover{
    background-color: #FBFBFB;
}
.contenu .p_c_1{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.p_c_1 p{
    opacity: 0.5;
    font-weight: 400;
}
/* -------------interrupteur---------------------- */
.contenu .p_c_2{
    width: 60px;
    height: 26px;
    position: relative;
    display: inline-block;
    padding: 3px;
}
.p_c_2 input{
    opacity: 0;
    width: 0;
    height: 0;
}
.p_c_2 .choix{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #A4A4A4;
    transition: 0.5s ease;
    border-radius: 30px;
}
.p_c_2 .choix::before{
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
input:checked + .choix {
  background-color: var(--Primary-color);
}
input:checked + .choix::before {
  transform: translateX(34px);
}
/* ------------------fin------------------------------ */
.contenu .p_c_2_2 select{
    border: 1px solid var(--Border-color);
    border-radius: 7px;
    padding: 8px;
    width: 120px;
    font-weight: 700;
    font-size: 16px;
}
.para_card_2 .contenu:hover{
    border-color: var(--Primary-color);
}

.contenu .p_c_2_2 input{
    padding: 8px;
    width: 120px;
    border-radius: 7px;
    font-size: 18px;
    border: 1px solid var(--Border-color);
}
.p_c_2_2 input:focus{
    outline-color: rgb(45, 42, 42);
}

.para_card_2 #contenu{
    height: auto;

}
#contenu .p_c_1{
    gap: 10px;
}
#contenu .b_n_t{
    padding: 10px 18px;
    border: none;
    border-radius: 7px;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid var(--Border-color);
    opacity: 0.7;
}
#b_n_t_1{
    background-color: var(--Background-color);
}
#b_n_t_2{
    background-color: #0baeeb;
    color: var(--Text-White-color);
}
#fin{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    box-shadow: var(--box-shadow-2);
}
.fin{
    border: 1px solid var(--Border-color);
    border-radius: 7px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.fin:hover, #b_n_t_1:hover{
    background-color:  #F2F1F1;
}
#f_1{
    background-color: var(--Primary-color);
    color: var(--Text-White-color);
}
#f_2{
    background-color: #F2F1F1;
}

/* ------------------------------------------Gestion des Commandes------------------------------------------------- */

#com_1{
    background-color: var(--Warning-color);
}
#com_2 {
    background-color: var(--Primary-color);
}
#com_3{
    background-color: #9567F9;
}
#com_4{
    background-color: var(--Success-color);
}

.input .fil_{
    width: 280px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--Primary-color);   
}
.fil_ input{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--Border-color);
    font-size: 16px;
    outline-color: rgb(30, 27, 27);
}
.fil_ i{
    color: #fff;
    width: 50px;
    text-align: center;
}

.command{
    margin: 40px;
    padding: 30px;
    border-radius: 12px;
    background-color: var(--White-color);
}
.command .element_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.element_1 .e_1, .element_2 .e_2{
    display: flex;
    flex-direction: column;
    gap: 15px;
} 
.element_1 #e_1{
    align-items: center;
}
.element_2{
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--Background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.element_3{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding-top: 30px;
}  
.element_3 button{
    padding: 9px 20px;
    border-radius: 10px;
    border: 1px solid var(--Border-color);
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}  
.element_3 button i{
    margin-right: 5px;
    text-align: center;
}
.element_3 .tt_1{
    background-color: var(--Primary-color);
    color: var(--White-color);
}
.element_3 .tt_2{
    background-color: var(--White-color);
    color: var(--Text-Primary-color);
}.element_3 .tt_3{
    /* background-color: var(--Background-color); */
    color: var(--Text-Primary-color);
}
.element_3 .tt_2:hover{
    background-color: #EFEFEF;
}
.command .bleus{
    color: var(--Primary-color);
    font-weight: 600;
}
.e_1 .bleus{
    font-size: 22px;
}
#e_1 span{
    font-size: 12px;
    font-weight: bold;
}
.e_1 h4{
    font-size: 18px;
}
.e_1 p{
    color: var(--Text-Primary-color);
    opacity: 0.7;
}
.e_2 span{
    font-weight: 400;
    opacity: 0.6;
}
.element_2 p{
    font-weight: 600;
}
#element_2 .tt_3{
    color: var(--White-color);
    background-color: #0CACEA;
}
#element_3 .tt_2{
    color: var(--White-color);
    background-color: #0CACEA;
}








































































@media (max-width:1024px){
      .ligne_2{
        grid-template-columns: 1fr 1fr;
    }
    .ligne_3_1{
        flex-direction: column;
        align-items: start;
        height: auto;
        width: auto;
    }
    .ligne_3_1 .input{
        width: 100%;
    }
    .ligne_3_1 .input .none{
        display: none;
     }
    .ligne_3_1 .input select{
        width: 100%;
    }
    #ligne_2{
        grid-template-columns: 1fr;
    }
    body{
        font-size: 15px;
    }
    #central .lign_1{
        grid-template-columns:  1fr ;
    }
    #central .lign_1{
        gap: 20px;
    }
    #central #lign_1{
        display: none;
    }
    .azerty{
        flex-direction: column;
    }
    .cards{
        grid-template-columns: 1fr;
    }
    .sidebar{
        width: 300px;
    }
     Section ,.navigateur{
        margin-left: 300px;
    }

    .para_card_2 {
        grid-template-columns: 1fr 1fr;
    }
    #fin{
        grid-template-columns: 1fr 1fr ;
    }
}

@media (max-width:768px) {
    .header{
        margin: 0;
    }
    .navigateur{
        margin: 0;
    }
    section{
        margin: 0;
        padding-top: 90px;
    }
    #ligne_2{
        grid-template-columns: 1fr;
    }
    body{
        font-size: 15px;
    }
       .ligne_4 {
        height: auto;
    }
    .command .element_1{
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    .ligne_4 .grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .para_card_2 {
        grid-template-columns: 1fr;
    }
    #fin{
        grid-template-columns: 1fr;
    }
    .fin{
        justify-content: flex-start;
        width: 100%;
    }
    .fin{
        padding-left: 20px;
    }
    .grid .ligne_4_2{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    .table {
        flex-direction: column;
        align-items: start;
        gap: 40px;
    }
    .table input {
        width: 320px;
    }
    .ligne_1, .ligne_2, .cards, .ligne_3_1, .command,
    .para_card, .ligne_4, .ligne_5, .central{
        margin: 20px;
    }
    .grid .ligne_4_3{
        margin: 0;
    }
    .navigateur .admis {
        font-size: 18px;
        gap: 20px;
    }
    .admis i {
        font-size: 25px;
    }
    .navigateur .logo {
        font-size: 23px;
        display: flex;
        align-items: center;
    }
    .ligne_1{
        font-size: 1.2rem;
    }
.sidebar{
    left: -300px;
    transition: left 0.5s ease;
}
.sidebar:target {
    left: 0;
}
.open-menu {
    text-decoration: none;
    }
    .navigateur .logo i{
    display: block;
    font-size: 29px;
    color: var(--Text-Primary-color);
    padding-right: 10px;
    }
    .section_2 .partie_3 .axe{
        display: grid;
        grid-template-columns: 1fr;
    }


}
@media (max-width:425px) {

    .ligne_2{
        grid-template-columns: 1fr;
    }

    .navigateur .admis {
        display: none;
    }
    .mai {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        height: auto;
    }
     .ligne_1{
        font-size: 1rem;
        padding-top: 30px;
    }
   
}
















































































.section_2{
       background: #000000de;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
       position: absolute;
       position: fixed;
       width: 100vw;
       left: -100vw;
       top: 0;
       z-index: 3;
       margin-left: 0;
       backdrop-filter: blur(4px); 
       overflow-y: hidden;
}
.section_2:target{
    left: 0;
}
.section_2 .mon_profil{
    width: 750px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: scroll;
    margin: 40px;
    
}
.partie_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    border-bottom: 1px solid var(--Border-color);
    font-size: 1.8rem;
}
.partie_1 i{
    font-size: 2rem;
    color: var(--Secondary-color);
    cursor: pointer;
}
.partie_1 .p_t_1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.partie_2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.partie_2 .p_t_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.partie_2 i{
    font-size: 7rem;
    color: var(--Primary-color);
    cursor: pointer;
}
.partie_2 button{
    padding: 8px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
    border: 1px solid var(--Border-color);
    cursor: pointer;
    background-color: var(--Background-color);
}
.partie_2 button:hover, .partie_4 button:hover{
    background-color: #f7f7f7;
}
.partie_3{
    padding: 40px;
}
.partie_3 .axe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.partie_3 .p_t_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 19px;
    margin-top: 35px;
}
.partie_3 .p_t_3 input{
    font-size: 19px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--Border-color);
}
.partie_4{
    border-top: 1px solid var(--Border-color);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 20px 40px;
}
.partie_4 button{
    padding: 8px 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid var(--Border-color);
    cursor: pointer;
    background-color: var(--Background-color);
}
.partie_4 .bleu{
    color: var(--Text-White-color);
    background-color: var(--Primary-color);
}